html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: azure;
}

#newGameBtn {
    font-size: 1.125rem;
    font-weight: 600;
    background-color: white;
    color: navy;
    padding: 0.25rem 0.5rem;
    border: 2px solid black;
    border-radius: 4px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    border: 2px solid black;
    background-color: black;
    padding: 0.5rem;
}

.cell {
    width: 10rem;
    height: 10rem;
    background-color: white;
    display: grid;
}

img {
    grid-column: 1;
    grid-row: 1;
    visibility: hidden;
}

.display-icon {
    visibility: visible;
}

p {
    font-size: 1.25rem;
    font-weight: 600;
}